.chat-container {
  display: flex;
  flex-direction: column;
  height: 80vh;
  max-width: 700px;
  margin: auto;
  border-radius: 1rem;
  background: #fff;
}

.chat-header {
  background: #0d6efd;
  color: #fff;
  border-radius: 1rem 1rem 0 0;
}

.chat-list {
  overflow-y: auto;
  background: #f8f9fa;
  flex-grow: 1;
  display: flex;
  flex-direction: column; 
}

.chat-row {
  display: flex;
}

.msg-bubble {
  max-width: 70%;
  word-wrap: break-word;
}

.my-msg {
  justify-content: flex-end;
}

.my-msg .msg-bubble {
  background: #0d6efd;
  color: white;
  border-radius: 1rem 1rem 0 1rem;
}

.other-msg {
  justify-content: flex-start;
}

.other-msg .msg-bubble {
  background: #e9ecef;
  color: #212529;
  border-radius: 1rem 1rem 1rem 0;
}

.chat-input {
  background: #fff;
}
